@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.menu{
    background-color: #342F2C;
    background-image: url('assets/Vector.svg');
    color: #fff;
    height: 150px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    
}
.menu__container.image{
    width: 250px; 
    height: auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #5e7094;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 50px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.search-bar input[type="search"] {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.search-bar input[type="search"]:focus {
    background-color: #f0f0f0;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #d1a159;
}

.search-btn img {
    width: 38px;
    height: auto;
}


.footer {
    background-color: #342F2C;
    background-image: url('assets/Vector_footer.png');
    color: #fff;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.footer .map {
    flex: 1;
    padding-right: 20px;
}

.footer .info {
    flex: 1;
    padding-left: 20px;
}

.footer .info ul {
    list-style-type: none;
    padding: 0;
}

.footer .info ul li {
    margin-bottom: 10px;
}

.footer .info ul li a {
    color: #fff;
    text-decoration: none;
}

.footer .info ul li a:hover {
    text-decoration: underline;
}

.hero.is-success {
    background: #f2f6fa;
  }
  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .box {
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
  }
  input {
    font-weight: 300;
  }
  p {
    font-weight: 700;
  }
  p.subtitle {
    padding-top: 1rem;
  }
  
  a {
    color: #fff;
  }
  
  a:hover {
    color: #bababa;
  }
  
  .languages {
    margin-top: 10px;
  }