@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: #342F2C;
    background-image: url('assets/Vector.svg');
    color: #fff;
    height: 150px;
    position: relative;
    z-index: 2; 
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__container.image {
    width: 250px;
    height: auto;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: #5e7094;
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
    z-index: 3; 
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 50px;
}

@media (max-width: 800px) {
    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: var(--background);
    }

    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="search"] {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.search-bar input[type="search"]:focus {
    background-color: #f0f0f0;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #d1a159;
}

.search-btn img {
    width: 38px;
    height: auto;
}

#conteitemcarrusel {
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 1; 
}

.itemcarrusel {
    height: 350px;
    position: relative;
    padding: 20px;
}

.tarjetacarrusel {
    background-color: #d1a159;
    height: 100%;
}

.flechascarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 45px;
}

.conteiner {
    
    width: 95%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "slidebar itemcont1 itemcont2 itemcont3"
        "slidebar itemcont4 itemcont5 itemcont6";
    grid-gap: 1em;
}
.conteiner .sidebar {
    background-color: #5e7094;
    grid-area: slidebar;
}
.conteiner .itemcont1 {
    background-color: aliceblue;
    border-radius: 15px;
}
.conteiner .itemcont1:hover{
    background-color: #e2d7d7b7;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}
.conteiner .itemcont2 {
    background-color: #ce1313;
    
}
.conteiner .itemcont3 {
    background-color: #8013ce;
}
.conteiner .itemcont4 {
    background-color: #798489;
}
.conteiner .itemcont5 {
    background-color: #ce19;
}
.conteiner .itemcont6{
    background-color: #32c1da;
}

.footer {
    background-color: #342F2C;
    background-image: url('assets/Vector_footer.png');
    color: #fff;
    padding: 20px;
}

.footer .footer-conteiner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-content: left;
}

.footer .footer-conteiner .fbox iframe {
    width: 400px;
    margin-right: 20px;
}

.footer .footer-conteiner .fbox ul {
    list-style-type: none;
    padding: 0;
}

.footer .footer-conteiner .fbox li {
    list-style-type: none;
    padding: 0;
}

.footer .footer-conteiner .fbox ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
}

.footer .footer-conteiner .fbox ul li a {
    list-style-type: none;
    padding: 0;
}

.footer .footer-conteiner .fbox h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .footer-conteiner .red-social {
    align-items: center;
    list-style-type: none;
}

.footer .footer-conteiner .red-social a {
    list-style-type: none;
}

.info-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.rrss-icon {
    width: 60px;
    height: auto;
    margin: auto;
}

.fbox a {
    text-decoration: none;
    color: #fdfafa;
}

.fbox a:hover {
    text-decoration: underline;
}

.imgbanner {
    width: 100%;
    height: 100%;
}

.hero.is-success {
    background: #f2f6fa;
}

.hero .nav,
.hero.is-success .nav {
    box-shadow: none;
}

.box {
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

input {
    font-weight: 300;
}

p {
    font-weight: 700;
}

p.subtitle {
    padding-top: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #bababa;
}

.languages {
    margin-top: 10px;
}

i {
    padding: 10px;
}
.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
  }
  
  .product-img {
    height: 158px;
    margin-bottom: 20px;
    image-resolution: cover;
  }
  
  .product-name {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .product-description {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1.2em;
    color: #d1a159;
    font-weight: bold;
    padding: 15px;
  }
  .product a{
    background-color: #1a8346;
    color: whitesmoke;
    padding: 15px 20px;
    margin: 20px 50px;
    flex-direction: flex-end;
  }
  .fa-solid fa-cart-shopping{
    width: 80%;
  }

 
  