/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */
:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #e17055;
    --bg-menu: #ff7675;
    --bg-body: #C7E1FF;
}

/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
    display: flex; /* Añade flexbox al body */
    height: 100vh; /* Para que ocupe toda la altura de la ventana */
    overflow: hidden; /* Para evitar scroll innecesario */
    
}

.menu-dashboard {
    width: 250px; /* Ancho fijo para el menú */
    height: 100%;
    background: var(--bg-menu);
    padding: 20px;
    transition: width .3s ease; /* Cambia de max-width a width */
    display: flex;
    flex-direction: column; /* Colocar elementos del menú en columna */
}

.main-content {
    flex-grow: 1; /* Toma el espacio restante disponible */
    padding: 20px;
    background: var(--bg-body);
    overflow-y: auto; /* Para permitir scroll si el contenido es largo */
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* ENLACES MENU */
.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
    justify-content: center;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
    justify-content: center;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
    justify-content: center;
}

.menu-dashboard.open {
    width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}
.main-content{
    color: #1111;
    
}