@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: #fab1a0;
    background-image: url('assets/Vector.svg');
    color: #fff;
    height: 150px;
    position: relative;
    z-index: 2; 
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__container.image {
    width: 250px;
    height: auto;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    
}

.menu__link:hover {
    background-color: #d63031;
    
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #e17055;
    z-index: 3; 
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #e17055;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 50px;
}

@media (max-width: 800px) {
    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #d63031;
        
        
    }

    .menu__item--show {
        background-color: var(--background);
        
    }

    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #e17055;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #e17055;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="search"] {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.search-bar input[type="search"]:focus {
    background-color: #f0f0f0;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #ff7675;
}

.search-btn img {
    width: 38px;
    height: auto;
}

#conteitemcarrusel {
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1; 
}

.itemcarrusel {
    height: 105%;
    position: relative;
    padding: 20px;
}

.tarjetacarrusel {
    background-color: #d1a159;
    height: 100%;
}

.flechascarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 45px;
}

.conteiner {
    
    width: 95%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "slidebar itemcont1 itemcont2 itemcont3"
        "slidebar itemcont4 itemcont5 itemcont6";
    grid-gap: 1em;
}
.conteiner .sidebar {
    background-color: aliceblue;
    padding: 30px;
    grid-area: slidebar;
    color: black;
    display: flex;
    flex-direction: column;
}
.conteiner .sidebar a{
    color: rgb(0, 0, 0);
}
.conteiner .sidebar p a:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}

.conteiner .itemcont1 {
    background-color: aliceblue;
    border-radius: 15px;
}
.conteiner .itemcont1:hover{
    background-color: #e2d7d7b7;
   
}
.conteiner .itemcont2 {
    background-color: aliceblue;
    border-radius: 15px;
    
}
.conteiner .itemcont2:hover{
    background-color: #e2d7d7b7;
   
}
.conteiner .itemcont3 {
    background-color: aliceblue;
    border-radius: 15px;
}
.conteiner .itemcont3:hover{
    background-color: #e2d7d7b7;
   
}
.conteiner .itemcont4 {
    background-color: aliceblue;
    border-radius: 15px;
}
.conteiner .itemcont4:hover{
    background-color: #e2d7d7b7;
   
}
.conteiner .itemcont5 {
    background-color: aliceblue;
    border-radius: 15px;
}
.conteiner .itemcont5:hover{
    background-color: #e2d7d7b7;
   
}
.conteiner .itemcont6{
    background-color: aliceblue;
    border-radius: 15px;
}
.conteiner .itemcont6:hover{
    background-color: #e2d7d7b7;
   
}

.footer {
    background-color: #fab1a0;
    background-image: url('assets/Vector_footer.png');
    color: #fff;
    padding: 20px;
}

.footer .footer-conteiner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-content: left;
}

.footer .footer-conteiner .fbox iframe {
    width: 400px;
    margin-right: 20px;
}

.footer .footer-conteiner .fbox ul {
    list-style-type: none;
    padding: 0;
}

.footer .footer-conteiner .fbox li {
    list-style-type: none;
    padding: 0;
}

.footer .footer-conteiner .fbox ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
}

.footer .footer-conteiner .fbox ul li a {
    list-style-type: none;
    padding: 0;
}

.footer .footer-conteiner .fbox h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .footer-conteiner .red-social {
    align-items: center;
    list-style-type: none;
}

.footer .footer-conteiner .red-social a {
    list-style-type: none;
}

.info-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.rrss-icon {
    width: 60px;
    height: auto;
    margin: auto;
}

.fbox a {
    text-decoration: none;
    color: #fdfafa;
}

.fbox a:hover {
    text-decoration: underline;
}

.imgbanner {
    width: 100%;
    height: 100%;
}

.hero.is-success {
    background: #f2f6fa;
}

.hero .nav,
.hero.is-success .nav {
    box-shadow: none;
}

.box {
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

input {
    font-weight: 300;
}

p {
    font-weight: 700;
}

p.subtitle {
    padding-top: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.languages {
    margin-top: 10px;
}

i {
    padding: 10px;
}
.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
  }
  
  .product-img {
    height: 158px;
    margin-bottom: 20px;
    image-resolution: cover;
  }
  
  .product-name {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .product-description {
    font-size: 1em;
    margin:  0;
  }
  
  .product-price {
    font-size: 1.7em;
    color: #d63031;
    font-weight: bold;
    padding: 15px;
  }
  .addtocart {
    background-color: #e17055;
    color: whitesmoke;
    padding: 15px 20px;
    margin: 20px 50px;
    flex-direction: flex-end;
    border: none;
  }
  .addtocart:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
  }
  .fa-solid fa-cart-shopping{
    width: 80%;
  }

  .cart-count { font-size: 1.5em; }
  .cart-container { 
    margin-top: 20px;
 }
 .cart-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: auto;
    grid-template-areas: 
    "cartimg cartinfo cartcant"
    "cartimg carttipo cartcant"
    "cartimg cartmedida cartcant"
    "cartimg cartdescrip cartcant"
    "cartimg cartprice cartbutt";
    grid-gap: 1em;
 }
 .cart-product-img {
    grid-area: cartimg;
 }
 .cart-product-name {
    grid-area: cartinfo;
 }
 .cart-product-tipo{
    grid-area: carttipo;
 }
 .cart-product-medida{
    grid-area: cartmedida;
 }
 .cart-product-description {
    grid-area: cartdescrip;
 }
 .cart-product-price {
    grid-area: cartprice;
 }
 .cartcant {
    grid-area: cartcant;
 }
 .cartelimin{
    grid-area: cartbutt;
 }
  .cart-item { border: 1px solid #ccc; padding: 10px; margin: 10px 0; }
  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
      padding-top: 60px;
  }
  .modal-content {
      background-color: #e17055;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      background-image: url('assets/Vectorcart.png');
  }
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  .close:hover
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .resultado_oculto{
    display: none;
}
.about-us {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
}

.about-us h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.about-us p {
    line-height: 1.6;
    color: #555;
}

.about-us h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-us p strong {
    color: #000;
}

.about-us ul {
    list-style-type: none;
    padding: 0;
}

.about-us ul li {
    margin: 10px 0;
}

.about-us .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.about-us .contact-info li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.about-us .contact-info img {
    margin-right: 10px;
}

.about-us .social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-us .social-media li {
    margin: 0 10px;
}

.about-us .social-media img {
    width: 30px;
    height: 30px;
}
.product-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 25px 25px 50px 50px;
    grid-template-areas:
     "img nombre nombre"
     "img tipo ."
     "img medida ."
     "img descrip dispo"
     "img precio carro"
    ;
    width: 1250px;
    height: 350px;
    gap: 1em;
    background-color: #f1f1f1;
    text-align: left;
    padding: 15px;
}
.product-tipo{
    grid-area: tipo;
}
.product-description{
    grid-area: descrip;
}
.pproduct-img{
    grid-area: img;
    height: 300px;

}
.product-name{
   grid-area: nombre;
}
.product-medida{
    grid-area: medida;
}
.product-disponibilidad{
    grid-area: dispo;
}
.product-price{
    grid-area: precio;

}
.paddtocart {
    background-color: #e17055;
    color: whitesmoke;
    grid-area: carro;
    border: none;
  }
  .paddtocart:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
    transform: scale(1.1);
}
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-content p {
    margin: 0;
    padding-bottom: 10px;
}

.popup-close {
    background-color: #e17055;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
